<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ojason.joyoj.mapper.TagsMapper">

    <resultMap id="BaseResultMap" type="com.ojason.joyoj.model.entity.Tags">
            <id property="id" column="id" />
            <result property="tagname" column="tagName" />
            <result property="categoryid" column="categoryId" />
            <result property="isdelete" column="isDelete" />
            <result property="createdtime" column="createdTime" />
            <result property="updatedtime" column="updatedTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,tagName,categoryId,isDelete,createdTime,updatedTime
    </sql>
</mapper>
